
 
  
H1 {
  
  font-size: 110%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
}


td{
  
  color: white;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;

}
.hrefs{
  color: green;

}
a:link{
 font-size: 180%;
}

  table{
    align:left;
  }